<% include partials/header.ejs %>
 
<div id="items" style="border-radius: 10px;-webkit-box-shadow: 0px 0px 8px rgba(0,0,0,0.3);-moz-box-shadow:0px 0px 8px rgba(0,0,0,0.3);box-shadow:0px 0px 8px rgba(0,0,0,0.3); position: relative;z-index: 90;"><table class="data"><tbody><tr><td width="20%" valign="top" class="hislide" style="border:0px;">
<center> 
	
<div class="item"><div class="background"></div> 
<p>
    <img class="poster" style="width:167px;height:167px;border:1px solid ;" src="<%= result.Image %>">
</p>
<div class="content"><b>
        <a title="<%= result.Title %>" href="search.php?ID=" > <%= result.Title %></a></b><br> 
</div>
</div><br><br><br><br></center></td>
<td width="80%" valign="top" class="hislide" style="border:0px;"><div id="content_text"><div id="article"><center><div class="movie-box"><b><h1><%= result.Title %> - <%= result.Author %></h1></b></div></center></div><center><div id="article" style="margin-top:-15px;"> 

        <tr><td><b><strong>Name</strong></b></td><td><%= result.Title  %><p></p></td></tr>
        <tr><td><b><strong>Author</strong></b></td><td><p><%= result.Author  %></p></td></tr>
        <tr><td><b><strong>Sub Title</strong></b></td><td><p><%= result.SubTitle  %></p></td></tr>
        <tr><td><b><strong>Description</strong></b></td><td><%= result.Description  %><p></p></td></tr>
        <tr><td><b><strong>ISBN</strong></b></td><td><p><%= result.isbn  %></p></td></tr>
        <tr><td><b><strong>Publishe</strong></b></td><td><p><%= result.Publishe  %></p></td></tr>
        <tr><td><b><strong>Year</strong></b></td><td><p><%= result.Year  %></p></td></tr>
        <tr><td><b><strong>Page</strong></b></td><td><p><%= result.Page  %></p></td></tr>
 
        <tr><td><b><strong>Download</strong></b></td><td><p><a rel="me nofollow" itemprop="offers" title="<%= result.Title %>" style="color:white;text-decoration:none;"  href="<%= result.Download %>" class="button medium blue">Download</a></p></td></tr>
        
</tbody></table><br></div>
<br>
</td>
</tr></tbody></table>
</div>

<% include partials/footer.ejs %>
